11labs/phonenumber4.4.json
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "=*/11 * * * 1-5"
            }
          ]
        }
      },
      "id": "25a92a04-2650-4965-8c58-5a42e0429737",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -4896,
        1104
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1vogVrOWPyUQqwsR14qExrOULFmm-sy_-elD3ZNa0h8I",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1258521478,
          "mode": "list",
          "cachedResultName": "Config",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vogVrOWPyUQqwsR14qExrOULFmm-sy_-elD3ZNa0h8I/edit#gid=1258521478"
        },
        "options": {}
      },
      "id": "f67debf3-29ce-4ba9-bcde-10956a2a5541",
      "name": "Read Config",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -4704,
        1104
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ofSXLwCeUOtdtlJR",
          "name": "manymangoes"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = items.map(i => i.json);\n\nfunction getRow(rows, rowNum) {\n  const r = rows.find(x => x.row_number === rowNum);\n  return r ? (r['col_2'] || r['B'] || '') : '';\n}\n\n// -- Core config --\nconst config = {\n  apiKey:          String(getRow(rows, 4)),\n  assistantId:     String(getRow(rows, 5)),\n  batchSize:       parseInt(getRow(rows, 6))  || 10,\n  maxDuration:     parseInt(getRow(rows, 7))  || 10,\n  concurrentCalls: parseInt(getRow(rows, 8))  || 1,\n  pollIntervalMin: parseInt(getRow(rows, 9))  || 2,\n  maxAttempts:     parseInt(getRow(rows, 10)) || 10,\n  maxPerSlot:      parseInt(getRow(rows, 11)) || 2,\n};\n\n// -- Caller phone numbers map (rows 25-34) --\n// Each row: CONFIGURATION = Label, col_2 = Phone Number, col_3 = Vapi Phone Number ID\n// Build: callerPhoneNumbers array + areaCodeMap for matching\nconst callerPhoneRows = rows.filter(r => r.row_number >= 25 && r.row_number <= 34);\nconst callerPhoneNumbers = [];\nconst areaCodeMap = {};\n\nfor (const r of callerPhoneRows) {\n  const label   = String(r['CONFIGURATION'] || r['A'] || '').trim();\n  const phoneNum = String(r['col_2'] || r['B'] || '').trim();\n  const vapiId   = String(r['col_3'] || r['C'] || '').trim();\n  if (!vapiId || !phoneNum) continue;\n  callerPhoneNumbers.push({ label, phoneNumber: phoneNum, vapiPhoneNumberId: vapiId });\n  // Extract area code: strip non-digits, skip country code if 11 digits\n  const digits = phoneNum.replace(/\\D/g, '');\n  const areaCode = digits.length === 11 ? digits.substring(1, 4) : digits.substring(0, 3);\n  if (areaCode) areaCodeMap[areaCode] = vapiId;\n}\n\n// Default fallback = row 12 (\"Vapi Phone Number ID\") — explicit config value\n// Falls back to first in list if row 12 is empty\nconst defaultPhoneNumberId = String(getRow(rows, 12)).trim() ||\n  (callerPhoneNumbers.length > 0 ? callerPhoneNumbers[0].vapiPhoneNumberId : '');\n\n// -- Time slot logic (Eastern Time) --\nconst now = new Date();\nconst etStr = now.toLocaleString('en-US', { timeZone: 'America/New_York' });\nconst etHour = new Date(etStr).getHours();\n\nconst slots = [\n  { name: '8am-10am',  startHour: 8,  endHour: 10, col: 'D' },\n  { name: '10am-12pm', startHour: 10, endHour: 12, col: 'E' },\n  { name: '12pm-2pm',  startHour: 12, endHour: 14, col: 'F' },\n  { name: '2pm-4pm',   startHour: 14, endHour: 16, col: 'G' },\n  { name: '4pm-6pm',   startHour: 16, endHour: 18, col: 'H' },\n];\n\nconst currentSlot = slots.find(s => etHour >= s.startHour && etHour < s.endHour) || null;\n\nconst etDate = new Date(etStr);\nconst todayDateStr = etDate.getFullYear() + '-' +\n  String(etDate.getMonth() + 1).padStart(2, '0') + '-' +\n  String(etDate.getDate()).padStart(2, '0');\n\nreturn [{\n  json: {\n    config,\n    callerPhoneNumbers,\n    areaCodeMap,\n    defaultPhoneNumberId,\n    currentSlot,\n    todayDateStr,\n    etHour,\n    withinHours: currentSlot !== null\n  }\n}];"
      },
      "id": "9f2ae9dc-50f3-4c9f-90e7-98674801be6d",
      "name": "Extract Config Values",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4496,
        1104
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.withinHours }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              },
              "id": "ae28f630-b8e9-4c43-9285-38ba6ddce592"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "df206e36-3994-4948-9d77-508d366f1d68",
      "name": "Within Calling Hours?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -4304,
        1104
      ]
    },
    {
      "parameters": {
        "documentId": {
          "mode": "id",
          "value": "1vogVrOWPyUQqwsR14qExrOULFmm-sy_-elD3ZNa0h8I"
        },
        "sheetName": {
          "__rl": true,
          "value": 2141969193,
          "mode": "list",
          "cachedResultName": "Numbers",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hV49ALbkL0CSV1J5jEki0J45ohziRFxI4gww-aUhDRI/edit#gid=2141969193"
        },
        "options": {}
      },
      "id": "fd3f1ff4-6ac7-41e9-875c-013b03ee560c",
      "name": "Read Numbers Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -4016,
        1280
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ofSXLwCeUOtdtlJR",
          "name": "manymangoes"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "mode": "id",
          "value": "1vogVrOWPyUQqwsR14qExrOULFmm-sy_-elD3ZNa0h8I"
        },
        "sheetName": {
          "__rl": true,
          "value": 2075355757,
          "mode": "list",
          "cachedResultName": "ManyMangos Pick for MM(Sheet1)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hV49ALbkL0CSV1J5jEki0J45ohziRFxI4gww-aUhDRI/edit#gid=2075355757"
        },
        "options": {}
      },
      "id": "efd07a7e-2c69-43a8-9f2a-5ffa5b5e4570",
      "name": "Read ManyMangos Pick",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -4016,
        928
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ofSXLwCeUOtdtlJR",
          "name": "manymangoes"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Input 0 = Read ManyMangos Pick  (has 'Mobile Phone Number' + 'Contact ID')\n// Input 1 = Read Numbers Sheet     (has 'Phone Number')\n// Read by input index to avoid misclassification by column names\n\nconst pickItems   = $input.all(0).map(i => i.json);\nconst numberItems = $input.all(1).map(i => i.json);\n\n// Normalise: strip spaces, dashes, dots, parens, plus signs\nfunction normalise(p) {\n  return String(p || '').trim().replace(/[\\s\\-().+]/g, '');\n}\n\n// Build set of existing phone numbers from the Numbers sheet\nconst existingNumbers = new Set(\n  numberItems\n    .map(r => normalise(r['Phone Number']))\n    .filter(Boolean)\n);\n\n// Find pick contacts whose mobile number isn't already in the Numbers sheet\nconst seen = new Set();\nconst newContacts = pickItems.filter(r => {\n  const phone = normalise(r['Mobile Phone Number']);\n  if (!phone) return false;\n  if (existingNumbers.has(phone)) return false;  // already tracked\n  if (seen.has(phone)) return false;             // deduplicate within pick list\n  seen.add(phone);\n  return true;\n});\n\nreturn [{ json: { newContacts, newCount: newContacts.length } }];"
      },
      "id": "27caf8fe-2eb5-432e-90a4-fd33fb55a121",
      "name": "Sync New Numbers",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3520,
        1104
      ]
    },
    {
      "parameters": {
        "jsCode": "const { newContacts } = items[0].json;\nreturn newContacts.map(c => ({\n  json: {\n    'Phone Number': String(c['Mobile Phone Number'] || c['C'] || '').trim(),\n    'Status': '',\n    'Answered In Slot': '',\n    '8am-10am': '',\n    '10am-12pm': '',\n    '12pm-2pm': '',\n    '2pm-4pm': '',\n    '4pm-6pm': '',\n    'Total Attempts': '',\n    'Last Call ID': '',\n    'Last Duration (s)': '',\n    'Last Transcript': '',\n    'Last Classification': '',\n    'Last Called At': '',\n    'Recording URL': '',\n    'Answered At': ''\n  }\n}));"
      },
      "id": "7307d46b-de6e-42ee-8894-024a3702300b",
      "name": "Split New Contacts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3136,
        976
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "mode": "id",
          "value": "1vogVrOWPyUQqwsR14qExrOULFmm-sy_-elD3ZNa0h8I"
        },
        "sheetName": {
          "mode": "name",
          "value": "Numbers"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Phone Number": "={{ $json['Phone Number'] }}",
            "Status": "={{ $json['Status'] }}",
            "Answered In Slot": "={{ $json['Answered In Slot'] }}",
            "8am-10am": "={{ $json['8am-10am'] }}",
            "10am-12pm": "={{ $json['10am-12pm'] }}",
            "12pm-2pm": "={{ $json['12pm-2pm'] }}",
            "2pm-4pm": "={{ $json['2pm-4pm'] }}",
            "4pm-6pm": "={{ $json['4pm-6pm'] }}",
            "Total Attempts": "={{ $json['Total Attempts'] }}",
            "Last Call ID": "={{ $json['Last Call ID'] }}",
            "Last Duration (s)": "={{ $json['Last Duration (s)'] }}",
            "Last Transcript": "={{ $json['Last Transcript'] }}",
            "Last Classification": "={{ $json['Last Classification'] }}",
            "Last Called At": "={{ $json['Last Called At'] }}",
            "Recording URL": "={{ $json['Recording URL'] }}",
            "Answered At": "={{ $json['Answered At'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Answered In Slot",
              "displayName": "Answered In Slot",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "8am-10am",
              "displayName": "8am-10am",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "10am-12pm",
              "displayName": "10am-12pm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "12pm-2pm",
              "displayName": "12pm-2pm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "2pm-4pm",
              "displayName": "2pm-4pm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "4pm-6pm",
              "displayName": "4pm-6pm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Total Attempts",
              "displayName": "Total Attempts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Call ID",
              "displayName": "Last Call ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Duration (s)",
              "displayName": "Last Duration (s)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Transcript",
              "displayName": "Last Transcript",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Classification",
              "displayName": "Last Classification",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Called At",
              "displayName": "Last Called At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Recording URL",
              "displayName": "Recording URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Answered At",
              "displayName": "Answered At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "6ded5c27-693d-473e-8d78-496edb807313",
      "name": "Append to Numbers Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -2928,
        976
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ofSXLwCeUOtdtlJR",
          "name": "manymangoes"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "26bb1dca-9732-48d9-97ca-44e5675c684d",
              "leftValue": "={{ $json.newCount }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -3296,
        1104
      ],
      "id": "c8fe4854-89d9-4108-b74a-b33d07bf87a3",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -3712,
        1104
      ],
      "id": "8956ab53-9eeb-4f26-ab18-313cc2fb12e5",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "const configData = $('Extract Config Values').first().json;\nlet { config, currentSlot, todayDateStr } = configData;\nif (!currentSlot) {\n  // Outside calling hours — use first slot as fallback so testing works at any time\n  currentSlot = { name: '8am-10am', startHour: 8, endHour: 10, col: 'D' };\n}\nconst slotColMap = {\n  'D': '8am-10am',\n  'E': '10am-12pm',\n  'F': '12pm-2pm',\n  'G': '2pm-4pm',\n  'H': '4pm-6pm'\n};\nconst slotHeader = slotColMap[currentSlot.col];\nconst allRows = items.map((item, idx) => ({\n  ...item.json,\n  _rowIndex: idx + 2\n}));\nconst eligible = [];\nconst skipped = {\n  done: 0,\n  calledToday: 0,\n  maxAttempts: 0,\n  slotFull: 0,\n  inProgress: 0\n};\nfor (const row of allRows) {\n  const phone = String(row['Phone Number'] || '').trim();\n  if (!phone) continue;\n  const status = String(row['Status'] || '').trim();\n  const totalAttempts = parseInt(row['Total Attempts']) || 0;\n  const slotAttempts = parseInt(row[slotHeader]) || 0;\n  const lastCalledAt = row['Last Called At'] || '';\n  if (['Human Answered', 'Dead', 'Needs Review'].includes(status)) {\n    skipped.done++;\n    continue;\n  }\n  if (status === 'In Progress') {\n    skipped.inProgress++;\n    continue;\n  }\n  if (lastCalledAt) {\n    const lastDate = new Date(lastCalledAt);\n    const lastET = new Date(\n      lastDate.toLocaleString('en-US', {\n        timeZone: 'America/New_York'\n      })\n    );\n    const lastStr =\n      lastET.getFullYear() + '-' +\n      String(lastET.getMonth() + 1).padStart(2, '0') + '-' +\n      String(lastET.getDate()).padStart(2, '0');\n    if (lastStr === todayDateStr) {\n      skipped.calledToday++;\n      continue;\n    }\n  }\n  if (totalAttempts >= config.maxAttempts) {\n    skipped.maxAttempts++;\n    continue;\n  }\n  // Dynamic per-slot cap: distribute remaining attempts evenly across remaining slots\n  const allSlots = ['8am-10am', '10am-12pm', '12pm-2pm', '2pm-4pm', '4pm-6pm'];\n  const currentSlotIndex = allSlots.indexOf(slotHeader);\n  const remainingSlots = currentSlotIndex >= 0 ? allSlots.length - currentSlotIndex : 1;\n  const remainingAttempts = config.maxAttempts - totalAttempts;\n  const allowedThisSlot = Math.ceil(remainingAttempts / remainingSlots);\n  if (slotAttempts >= allowedThisSlot) {\n    skipped.slotFull++;\n    continue;\n  }\n  if (!['Pending', 'Retry', ''].includes(status)) {\n    continue;\n  }\n  if (eligible.length < config.batchSize) {\n    const e164Phone = phone.startsWith('+')\n      ? phone\n      : '+' + phone;\n    eligible.push({\n      phone_number: e164Phone,\n      _rowIndex: row._rowIndex,\n      _totalAttempts: totalAttempts,\n      _slotAttempts: slotAttempts,\n      _slotHeader: slotHeader,\n      _slotValues: {\n        '8am-10am':  parseInt(row['8am-10am'])  || 0,\n        '10am-12pm': parseInt(row['10am-12pm']) || 0,\n        '12pm-2pm':  parseInt(row['12pm-2pm'])  || 0,\n        '2pm-4pm':   parseInt(row['2pm-4pm'])   || 0,\n        '4pm-6pm':   parseInt(row['4pm-6pm'])   || 0\n      }\n    });\n  }\n}\nconst defaultPhoneNumberId = configData.defaultPhoneNumberId || '';\neligible.forEach(e => {\n  e.callerPhoneNumberId = defaultPhoneNumberId;\n});\nreturn [{\n  json: {\n    eligible,\n    skipped,\n    currentSlot,\n    config,\n    todayDateStr,\n    hasEligible: eligible.length > 0\n  }\n}];\n\n\n\n\n\n\n\n\n\n// const configData = $('Extract Config Values').first().json;\n// let { config, currentSlot, todayDateStr } = configData;\n// if (!currentSlot) {\n//   // Outside calling hours — use first slot as fallback so testing works at any time\n//   currentSlot = { name: '8am-10am', startHour: 8, endHour: 10, col: 'D' };\n// }\n// const slotColMap = { 'D': '8am-10am', 'E': '10am-12pm', 'F': '12pm-2pm', 'G': '2pm-4pm', 'H': '4pm-6pm' };\n// const slotHeader = slotColMap[currentSlot.col];\n// const allRows = items.map((item, idx) => ({ ...item.json, _rowIndex: idx + 2 }));\n// const eligible = [];\n// const skipped = { done: 0, calledToday: 0, maxAttempts: 0, slotFull: 0, inProgress: 0 };\n// for (const row of allRows) {\n//   const phone = String(row['Phone Number'] || '').trim();\n//   if (!phone) continue;\n//   const status = String(row['Status'] || '').trim();\n//   const totalAttempts = parseInt(row['Total Attempts']) || 0;\n//   const slotAttempts = parseInt(row[slotHeader]) || 0;\n//   const lastCalledAt = row['Last Called At'] || '';\n//   if (['Human Answered', 'Dead', 'Needs Review'].includes(status)) { skipped.done++; continue; }\n//   if (status === 'In Progress') { skipped.inProgress++; continue; }\n//   if (lastCalledAt) {\n//     const lastDate = new Date(lastCalledAt);\n//     const lastET = new Date(lastDate.toLocaleString('en-US', { timeZone: 'America/New_York' }));\n//     const lastStr = lastET.getFullYear() + '-' + String(lastET.getMonth()+1).padStart(2,'0') + '-' + String(lastET.getDate()).padStart(2,'0');\n//     if (lastStr === todayDateStr) { skipped.calledToday++; continue; }\n//   }\n//   if (totalAttempts >= config.maxAttempts) { skipped.maxAttempts++; continue; }\n//   if (slotAttempts >= config.maxPerSlot) { skipped.slotFull++; continue; }\n//   if (!['Pending', 'Retry', ''].includes(status)) continue;\n//   if (eligible.length < config.batchSize) {\n//     // Ensure E.164 format: add + if missing\n//     const e164Phone = phone.startsWith('+') ? phone : '+' + phone;\n//     eligible.push({ phone_number: e164Phone, _rowIndex: row._rowIndex, _totalAttempts: totalAttempts, _slotAttempts: slotAttempts, _slotHeader: slotHeader });\n//   }\n// }\n\n// // -- Round-robin assign caller phone number IDs --\n// // Pull caller numbers from Extract Config Values output\n// const callerPhoneNumbers = configData.callerPhoneNumbers || [];\n// const defaultPhoneNumberId = configData.defaultPhoneNumberId || '';\n\n// if (callerPhoneNumbers.length > 0) {\n//   eligible.forEach((e, idx) => {\n//     e.callerPhoneNumberId = callerPhoneNumbers[idx % callerPhoneNumbers.length].vapiPhoneNumberId;\n//   });\n// } else {\n//   eligible.forEach(e => {\n//     e.callerPhoneNumberId = defaultPhoneNumberId;\n//   });\n// }\n\n// return [{ json: { eligible, skipped, currentSlot, config, todayDateStr, hasEligible: eligible.length > 0 } }];"
      },
      "id": "ea61f9ac-7a23-487c-9534-d5025e293fce",
      "name": "Filter Eligible Numbers",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2464,
        1120
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.hasEligible }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              },
              "id": "86c6612e-b551-479a-a822-520175eba9b6"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8a2c16c2-77a7-474e-bd1b-913569c67c40",
      "name": "Has Eligible Numbers?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -2240,
        1120
      ]
    },
    {
      "parameters": {
        "jsCode": "const existingItems = $('Read Numbers Sheet').all();\nconst existingData = existingItems.map(i => i.json);\n\n// If incoming items have Phone Number they are newly appended contacts (true branch)\n// Otherwise it's the pass-through from the If false branch\nconst incomingItems = items.map(i => i.json);\nconst hasNewData = incomingItems.some(i => i['Phone Number'] || i['phoneNumber']);\n\nconst merged = hasNewData\n  ? [...existingData, ...incomingItems]\n  : existingData;\n\nreturn merged.map(d => ({ json: d }));"
      },
      "id": "35412266-6865-4a6a-bdea-64b6d4ae4e08",
      "name": "Merge Number Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2704,
        1120
      ]
    },
    {
      "parameters": {
        "jsCode": "// Each item is one call response from POST /call\n// $input.item has the Vapi call response, Loop Over Calls context has the original lead data\n\nconst callResponse = $input.first().json;\nconst callId = callResponse.id;\nconst leadData = $('Loop Over Calls').first().json; // current loop item (the prepared lead)\nconst currentSlot = leadData.currentSlot;\nconst now = new Date().toISOString();\n\nif (!callId) {\n  throw new Error('No call ID returned from Vapi: ' + JSON.stringify(callResponse));\n}\n\n// Remove leading +\nconst cleanPhone = String(leadData.phone_number || '').replace(/^\\+/, '');\n\nreturn [{\n  json: {\n    'Phone Number':   cleanPhone,\n    phone:            cleanPhone,\n    callId,\n    currentSlotName:  currentSlot.name,\n    newTotalAttempts: (leadData._totalAttempts || 0) + 1,\n    now,\n    Status:           'In Progress',\n\n    '8am-10am':  currentSlot.col === 'D' ? (leadData._slotAttempts || 0) + 1 : (leadData._slotValues || {})['8am-10am'] || '',\n    '10am-12pm': currentSlot.col === 'E' ? (leadData._slotAttempts || 0) + 1 : (leadData._slotValues || {})['10am-12pm'] || '',\n    '12pm-2pm':  currentSlot.col === 'F' ? (leadData._slotAttempts || 0) + 1 : (leadData._slotValues || {})['12pm-2pm'] || '',\n    '2pm-4pm':   currentSlot.col === 'G' ? (leadData._slotAttempts || 0) + 1 : (leadData._slotValues || {})['2pm-4pm'] || '',\n    '4pm-6pm':   currentSlot.col === 'H' ? (leadData._slotAttempts || 0) + 1 : (leadData._slotValues || {})['4pm-6pm'] || '',\n\n    'Total Attempts': (leadData._totalAttempts || 0) + 1,\n    'Last Call ID':   callId,\n    'Last Called At': now,\n\n    _rowIndex:       leadData._rowIndex,\n    _totalAttempts:  (leadData._totalAttempts || 0) + 1,\n    _slotAttempts:   (leadData._slotAttempts || 0) + 1,\n    _slotHeader:     leadData._slotHeader,\n    _slotValues:     leadData._slotValues\n  }\n}];"
      },
      "id": "195801a6-5446-4eb2-89f2-99377ad508a4",
      "name": "Mark Numbers In Progress",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1280,
        1120
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "mode": "id",
          "value": "1vogVrOWPyUQqwsR14qExrOULFmm-sy_-elD3ZNa0h8I"
        },
        "sheetName": {
          "mode": "name",
          "value": "Call Log"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Phone Number": "={{ $json[\"Phone Number\"] }}",
            "phone": "={{ $json.phone }}",
            "batchId": "={{ $json.batchId }}",
            "currentSlotName": "={{ $json.currentSlotName }}",
            "newTotalAttempts": "={{ $json.newTotalAttempts }}",
            "now": "={{ $json.now }}",
            "Status": "={{ $json.Status }}",
            "8am-10am": "={{ $json[\"8am-10am\"] }}",
            "10am-12pm": "={{ $json[\"10am-12pm\"] }}",
            "12pm-2pm": "={{ $json[\"12pm-2pm\"] }}",
            "2pm-4pm": "={{ $json[\"2pm-4pm\"] }}",
            "4pm-6pm": "={{ $json[\"4pm-6pm\"] }}",
            "Total Attempts": "={{ $json[\"Total Attempts\"] }}",
            "Last Call ID": "={{ $json[\"Last Call ID\"] }}",
            "Last Called At": "={{ $json[\"Last Called At\"] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "batchId",
              "displayName": "batchId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "currentSlotName",
              "displayName": "currentSlotName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "newTotalAttempts",
              "displayName": "newTotalAttempts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "now",
              "displayName": "now",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "8am-10am",
              "displayName": "8am-10am",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "10am-12pm",
              "displayName": "10am-12pm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "12pm-2pm",
              "displayName": "12pm-2pm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "2pm-4pm",
              "displayName": "2pm-4pm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "4pm-6pm",
              "displayName": "4pm-6pm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Total Attempts",
              "displayName": "Total Attempts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Last Call ID",
              "displayName": "Last Call ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Last Called At",
              "displayName": "Last Called At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "cd7e59fc-a773-469c-a143-c4e9011a785d",
      "name": "Log to Call Log",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1008,
        1232
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ofSXLwCeUOtdtlJR",
          "name": "manymangoes"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.vapi.ai/call",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authorization",
              "value": "=Bearer {{ $json.apiKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"assistantId\": \"{{ $json.assistantId }}\",\n  \"phoneNumberId\": \"{{ $json.phoneNumberId }}\",\n  \"customer\": {\n    \"number\": \"{{ $json.phone_number }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1488,
        1120
      ],
      "id": "4a3730bb-f504-48d0-b07e-c898a4b790f8",
      "name": "Batch calling",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "url": "=https://api.vapi.ai/call/{{ $('Batch calling').first().json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authorization",
              "value": "=Bearer {{ $('Extract Config Values').first().json.config.apiKey }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -112,
        1104
      ],
      "id": "dbfc892f-c018-49a7-8805-883d90e00880",
      "name": "Poll Batch",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsCode": "// Pure extraction — classification handled by Classify LLM downstream\n\nreturn items.map(item => {\n  const call = item.json;\n\n  // Duration (seconds)\n  let duration = 0;\n  if (call.startedAt && call.endedAt) {\n    duration = Math.round((new Date(call.endedAt) - new Date(call.startedAt)) / 1000);\n  }\n\n  // Phone (strip + here, re-added in Build Final Result)\n  const phone = String(\n    call.customer?.number ||\n    call.artifact?.variables?.customer?.number ||\n    ''\n  ).replace(/^\\+/, '');\n\n  // Transcript\n  const transcriptText =\n    call.transcript ||\n    call.artifact?.transcript ||\n    '';\n\n  // Recording URLs\n  const recordingUrl =\n    call.recordingUrl ||\n    call.artifact?.recordingUrl ||\n    call.artifact?.recording?.mono?.combinedUrl ||\n    '';\n\n  const stereoRecordingUrl =\n    call.stereoRecordingUrl ||\n    call.artifact?.stereoRecordingUrl ||\n    call.artifact?.recording?.stereoUrl ||\n    '';\n\n  // Vapi signals\n  const endedReason       = call.endedReason || '';\n  const status            = call.status || '';\n  const summary           = call.analysis?.summary || call.summary || '';\n  const successEvaluation = call.analysis?.successEvaluation ?? null;\n  const cost              = call.cost ?? call.costBreakdown?.total ?? '';\n\n  // IDs + timestamps\n  const callId            = call.id || '';\n  const assistantId       = call.assistantId || '';\n  const phoneNumberId     = call.phoneNumberId || '';\n  const phoneCallProvider = call.phoneCallProvider || '';\n  const startedAt         = call.startedAt || '';\n  const endedAt           = call.endedAt   || '';\n  const createdAt         = call.createdAt || '';\n\n  // Assistant name\n  const assistantName =\n    call.artifact?.assistantActivations?.[0]?.assistantName || '';\n\n  // Clean message list (skip system prompts)\n  const rawMessages = call.artifact?.messages || call.messages || [];\n  const messages = rawMessages\n    .filter(m => m.role !== 'system')\n    .map(m => ({\n      role:             m.role === 'bot' ? 'assistant' : m.role,\n      message:          m.message || '',\n      secondsFromStart: m.secondsFromStart ?? null\n    }));\n\n  // Lead context from Mark Numbers In Progress (already incremented +1)\n  const leadContext    = $('Mark Numbers In Progress').first()?.json ?? {};\n  const _rowIndex      = leadContext._rowIndex      ?? null;\n  const totalAttempts  = leadContext._totalAttempts ?? leadContext.newTotalAttempts ?? 1;\n  const _slotAttempts  = leadContext._slotAttempts  ?? 0;\n  const _slotHeader    = leadContext._slotHeader    ?? '';\n  const _slotValues    = leadContext._slotValues    ?? null;\n  const maxAttempts    = $('Extract Config Values').first().json.config?.maxAttempts ?? 10;\n\n  return {\n    json: {\n      callId,\n      assistantId,\n      assistantName,\n      phoneNumberId,\n      phoneCallProvider,\n      phone,\n      status,\n      endedReason,\n      duration,\n      startedAt,\n      endedAt,\n      createdAt,\n      transcriptText,\n      summary,\n      successEvaluation,\n      messages,\n      recordingUrl,\n      stereoRecordingUrl,\n      cost,\n      _rowIndex,\n      totalAttempts,\n      _slotAttempts,\n      _slotHeader,\n      _slotValues,\n      maxAttempts\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        864
      ],
      "id": "a566864a-0ba8-4b2f-905b-8a52f6e591cf",
      "name": "Format conversation details"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -752,
        1104
      ],
      "id": "34764619-702f-471c-8b6f-8be8a6a6727e",
      "name": "Merge1"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1vogVrOWPyUQqwsR14qExrOULFmm-sy_-elD3ZNa0h8I",
          "mode": "id",
          "cachedResultName": "Vapi Campaign Sheet"
        },
        "sheetName": {
          "__rl": true,
          "value": 17002756,
          "mode": "list",
          "cachedResultName": "Call Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vogVrOWPyUQqwsR14qExrOULFmm-sy_-elD3ZNa0h8I/edit#gid=17002756"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Phone Number": "={{ $json[\"Phone Number\"] }}",
            "phone": "={{ $json[\"Phone Number\"] }}",
            "batchId": "={{ $json.batchId }}",
            "currentSlotName": "={{ $json.currentSlotName }}",
            "newTotalAttempts": "={{ $json.newTotalAttempts }}",
            "now": "={{ $json.now }}",
            "Status": "={{ $json.Status }}",
            "8am-10am": "={{ $json[\"8am-10am\"] }}",
            "10am-12pm": "={{ $json[\"10am-12pm\"] }}",
            "12pm-2pm": "={{ $json[\"12pm-2pm\"] }}",
            "2pm-4pm": "={{ $json[\"2pm-4pm\"] }}",
            "4pm-6pm": "={{ $json[\"4pm-6pm\"] }}",
            "Total Attempts": "={{ $json[\"Total Attempts\"] }}",
            "Last Call ID": "={{ $json[\"Last Call ID\"] }}",
            "Last Called At": "={{ $json[\"Last Called At\"] }}"
          },
          "matchingColumns": [
            "Last Call ID"
          ],
          "schema": [
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "batchId",
              "displayName": "batchId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "currentSlotName",
              "displayName": "currentSlotName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "newTotalAttempts",
              "displayName": "newTotalAttempts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "now",
              "displayName": "now",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "8am-10am",
              "displayName": "8am-10am",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "10am-12pm",
              "displayName": "10am-12pm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "12pm-2pm",
              "displayName": "12pm-2pm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "2pm-4pm",
              "displayName": "2pm-4pm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "4pm-6pm",
              "displayName": "4pm-6pm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Total Attempts",
              "displayName": "Total Attempts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Call ID",
              "displayName": "Last Call ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Last Called At",
              "displayName": "Last Called At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "da0a37d8-74ef-41b0-b082-709b9b1c6661",
      "name": "Append to Call Log",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1376,
        1088
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ofSXLwCeUOtdtlJR",
          "name": "manymangoes"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1680,
        1072
      ],
      "id": "1f468abd-9e69-48cd-ae93-9c9db30b8caf",
      "name": "Merge2"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1vogVrOWPyUQqwsR14qExrOULFmm-sy_-elD3ZNa0h8I",
          "mode": "id",
          "cachedResultName": "Vapi Campaign Sheet"
        },
        "sheetName": {
          "__rl": true,
          "value": 2141969193,
          "mode": "list",
          "cachedResultName": "Numbers",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vogVrOWPyUQqwsR14qExrOULFmm-sy_-elD3ZNa0h8I/edit#gid=2141969193"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Phone Number": "={{ $json[\"Phone Number\"] }}",
            "Status": "={{ $json.Status }}",
            "Answered In Slot": "={{ $json[\"Answered In Slot\"] }}",
            "8am-10am": "={{ $json[\"8am-10am\"] }}",
            "10am-12pm": "={{ $json[\"10am-12pm\"] }}",
            "12pm-2pm": "={{ $json[\"12pm-2pm\"] }}",
            "2pm-4pm": "={{ $json[\"2pm-4pm\"] }}",
            "4pm-6pm": "={{ $json[\"4pm-6pm\"] }}",
            "Total Attempts": "={{ $json[\"Total Attempts\"] }}",
            "Last Call ID": "={{ $json[\"Last Call ID\"] }}",
            "Last Duration (s)": "={{ $json[\"Last Duration (s)\"] }}",
            "Last Transcript": "={{ $json[\"Last Transcript\"] }}",
            "Last Classification": "={{ $json[\"Last Classification\"] }}",
            "Last Called At": "={{ $json[\"Last Called At\"] }}",
            "Recording URL": "={{ $json[\"Recording URL\"] }}",
            "Answered At": "={{ $json[\"Answered At\"] }}"
          },
          "matchingColumns": [
            "Last Call ID"
          ],
          "schema": [
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Answered In Slot",
              "displayName": "Answered In Slot",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "8am-10am",
              "displayName": "8am-10am",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "10am-12pm",
              "displayName": "10am-12pm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "12pm-2pm",
              "displayName": "12pm-2pm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "2pm-4pm",
              "displayName": "2pm-4pm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "4pm-6pm",
              "displayName": "4pm-6pm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Total Attempts",
              "displayName": "Total Attempts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Call ID",
              "displayName": "Last Call ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Last Duration (s)",
              "displayName": "Last Duration (s)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Transcript",
              "displayName": "Last Transcript",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Classification",
              "displayName": "Last Classification",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Called At",
              "displayName": "Last Called At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Recording URL",
              "displayName": "Recording URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Answered At",
              "displayName": "Answered At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1376,
        864
      ],
      "id": "75595e5c-2804-46f8-ac4f-6c9e4a44d1d7",
      "name": "Write Results to Numbers Sheet1",
      "alwaysOutputData": false,
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ofSXLwCeUOtdtlJR",
          "name": "manymangoes"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1vogVrOWPyUQqwsR14qExrOULFmm-sy_-elD3ZNa0h8I",
          "mode": "id",
          "cachedResultName": "Vapi Campaign Sheet"
        },
        "sheetName": {
          "__rl": true,
          "value": 2141969193,
          "mode": "list",
          "cachedResultName": "Numbers",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vogVrOWPyUQqwsR14qExrOULFmm-sy_-elD3ZNa0h8I/edit#gid=2141969193"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Phone Number": "={{ $json[\"Phone Number\"] }}",
            "Status": "={{ $json.Status }}",
            "8am-10am": "={{ $json['8am-10am'] }}",
            "10am-12pm": "={{ $json['10am-12pm'] }}",
            "12pm-2pm": "={{ $json['12pm-2pm'] }}",
            "2pm-4pm": "={{ $json['2pm-4pm'] }}",
            "4pm-6pm": "={{ $json['4pm-6pm'] }}",
            "Total Attempts": "={{ $json['Total Attempts'] }}",
            "Last Call ID": "={{ $json['Last Call ID'] }}",
            "Last Called At": "={{ $json['Last Called At'] }}"
          },
          "matchingColumns": [
            "Phone Number"
          ],
          "schema": [
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Answered In Slot",
              "displayName": "Answered In Slot",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "8am-10am",
              "displayName": "8am-10am",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "10am-12pm",
              "displayName": "10am-12pm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "12pm-2pm",
              "displayName": "12pm-2pm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "2pm-4pm",
              "displayName": "2pm-4pm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "4pm-6pm",
              "displayName": "4pm-6pm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Total Attempts",
              "displayName": "Total Attempts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Call ID",
              "displayName": "Last Call ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Duration (s)",
              "displayName": "Last Duration (s)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Transcript",
              "displayName": "Last Transcript",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Classification",
              "displayName": "Last Classification",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Called At",
              "displayName": "Last Called At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Recording URL",
              "displayName": "Recording URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Answered At",
              "displayName": "Answered At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1008,
        1008
      ],
      "id": "437e30ce-cb9c-4dab-a190-f3c69655869b",
      "name": "Update Numbers Sheet Status",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ofSXLwCeUOtdtlJR",
          "name": "manymangoes"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const configData = $('Extract Config Values').first().json;\nconst { config, areaCodeMap, defaultPhoneNumberId } = configData;\nconst { eligible, currentSlot } = $('Filter Eligible Numbers').first().json;\n\n// Area code match: strip non-digits, skip country code if 11 digits\nfunction getPhoneNumberId(phone) {\n  const digits = String(phone).replace(/\\D/g, '');\n  const areaCode = digits.length === 11 ? digits.substring(1, 4) : digits.substring(0, 3);\n  return areaCodeMap[areaCode] || defaultPhoneNumberId;\n}\n\n// Ensure E.164 format\nfunction toE164(phone) {\n  const s = String(phone).trim();\n  return s.startsWith('+') ? s : '+' + s;\n}\n\nreturn eligible.map(e => ({\n  json: {\n    phone_number:   toE164(e.phone_number),\n    phoneNumberId:  getPhoneNumberId(e.phone_number),\n    assistantId:    config.assistantId,\n    apiKey:         config.apiKey,\n    maxDuration:    config.maxDuration,\n    _rowIndex:      e._rowIndex,\n    _totalAttempts: e._totalAttempts,\n    _slotAttempts:  e._slotAttempts,\n    _slotHeader:    e._slotHeader,\n    currentSlot\n  }\n}));"
      },
      "id": "ddd42575-e8b9-496d-9f58-97f854ed828e",
      "name": "Prepare Individual Calls",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1984,
        1104
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "fcc0e756-5b5b-419e-8434-8daa11259096",
      "name": "Loop Over Calls",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1776,
        1104
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "9866571c-cfce-4f84-a3bd-09013f42a4b8",
              "leftValue": "={{ $json.status }}",
              "rightValue": "ended",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9416962c-3d39-4cb8-bee7-29bdee9295be",
      "name": "Poll Completed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        96,
        1104
      ]
    },
    {
      "parameters": {
        "amount": 30
      },
      "id": "601a94cd-1788-4f44-9878-c4108f4fbf43",
      "name": "Wait 10 More Seconds",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        352,
        1120
      ],
      "webhookId": "4ac73b09-5c15-444f-8f51-28964ca2da31"
    },
    {
      "parameters": {
        "jsCode": "// Take only the first item from poll response\nreturn [items[0]];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -352,
        1104
      ],
      "id": "90ee1ae5-57d6-4e92-981e-9d25c253351e",
      "name": "Collapse to one1"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Reads structured classification from Basic LLM Chain + Structured Output Parser\n// All other data pulled from Format conversation details\nconst formatted   = $('Format conversation details').item.json;\nconst currentSlot = $('Filter Eligible Numbers').first().json.currentSlot;\nconst now         = new Date().toISOString();\n// Structured Output Parser guarantees { classification: \"...\" }\nconst classification = $input.item.json?.output?.classification || $input.item.json?.classification || 'No Answer';\nconst totalAttempts = formatted.totalAttempts;\nconst maxAttempts   = formatted.maxAttempts;\nconst slotName      = currentSlot ? currentSlot.name : '8am-10am';\nconst slotCol       = currentSlot ? currentSlot.col  : 'D';\nconst phone         = formatted.phone ? (formatted.phone.startsWith('+') ? formatted.phone : '+' + formatted.phone) : '';\nconst isHuman       = classification === 'Human Answered';\n// Final Status\n// Human Answered  -> done, stop calling\n// IVR             -> Dead (automated system, no human ever)\n// Call Screening  -> Retry (real person behind the screen)\n// Voicemail       -> Retry until maxAttempts then Dead\n// No Answer       -> Retry until maxAttempts then Dead\nlet finalStatus;\nif (isHuman) {\n  finalStatus = 'Human Answered';\n} else if (classification === 'IVR') {\n  finalStatus = 'Dead';\n} else if (totalAttempts >= maxAttempts) {\n  finalStatus = 'Dead';\n} else {\n  finalStatus = 'Retry';\n}\n// Slot attempt columns — only the active slot gets a value\n// Use per-slot count (old value from sheet + 1), not the cumulative totalAttempts\nconst newSlotAttempts = (formatted._slotAttempts || 0) + 1;\nconst slotVals = formatted._slotValues || {};\nconst slot8to10  = slotCol === 'D' ? newSlotAttempts : (slotVals['8am-10am'] || '');\nconst slot10to12 = slotCol === 'E' ? newSlotAttempts : (slotVals['10am-12pm'] || '');\nconst slot12to2  = slotCol === 'F' ? newSlotAttempts : (slotVals['12pm-2pm'] || '');\nconst slot2to4   = slotCol === 'G' ? newSlotAttempts : (slotVals['2pm-4pm'] || '');\nconst slot4to6   = slotCol === 'H' ? newSlotAttempts : (slotVals['4pm-6pm'] || '');\nreturn {\n  json: {\n    // Numbers sheet columns\n    'Phone Number':        phone,\n    'Status':              finalStatus,\n    'Answered In Slot':    isHuman ? slotName : '',\n    '8am-10am':            slot8to10,\n    '10am-12pm':           slot10to12,\n    '12pm-2pm':            slot12to2,\n    '2pm-4pm':             slot2to4,\n    '4pm-6pm':             slot4to6,\n    'Total Attempts':      totalAttempts,\n    'Last Call ID':        formatted.callId,\n    'Last Duration (s)':   formatted.duration,\n    'Last Transcript':     formatted.transcriptText,\n    'Last Classification': classification,\n    'Last Called At':      formatted.startedAt || now,\n    'Recording URL':       formatted.recordingUrl,\n    'Answered At':         isHuman ? now : '',\n    // Call Log sheet columns\n    phone,\n    batchId:          '',\n    currentSlotName:  slotName,\n    newTotalAttempts: totalAttempts,\n    now,\n    // Pass-through for downstream\n    classification,\n    finalStatus,\n    isHuman,\n    slotName,\n    totalAttempts,\n    recordingUrl:  formatted.recordingUrl,\n    endedReason:   formatted.endedReason,\n    duration:      formatted.duration,\n    transcript:    formatted.transcriptText\n  }\n};"
      },
      "id": "f5cf5d07-d2be-4133-a587-15b6e8b17c0e",
      "name": "Build Final Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        864
      ]
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "id": "5b362465-3881-4653-aa19-8222657f2b29",
      "name": "Wait 1 Min For call",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -560,
        1104
      ],
      "webhookId": "d72a9652-4993-4935-80c8-068a713d1caf"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1136,
        1088
      ],
      "id": "5c70cfd4-c4c9-4cf1-a4d9-af9c331a20fc",
      "name": "Wait",
      "webhookId": "1ebe6df4-5b55-4ec3-ac24-334f3a1baf66"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a call classification engine. An AI assistant called a phone number and the transcript below was captured via speech-to-text. Classify the call as EXACTLY one of these five values:\n- Human Answered\n- Voicemail\n- Call Screening\n- IVR\n- No Answer\n\nCRITICAL RULES (check these first, before reading the transcript):\n- If call duration is 0 OR the transcript is empty or blank → No Answer. No exceptions.\n- If endedReason contains \"no-answer\", \"busy\", \"failed\", \"canceled\", \"error\", or \"timeout\" → No Answer.\n\nDEFINITIONS:\n\nHuman Answered\nA real live person picked up and spoke. Includes: hello, hi, yeah, who is this, I'm here, yes, speaking, any natural conversational response. If a real person is on the line — even briefly — it is Human Answered.\n\nVoicemail\nThe call reached a voicemail box. Includes:\n- Personal outgoing greetings (\"Hi this is John, I can't take your call, please leave a message\")\n- Carrier/automated prompts (\"The person you are trying to reach is not available. At the tone please record your message\")\n- Reading back a phone number then asking to leave a message (automated voice messaging systems)\n- Phrases like: leave a message, leave your name and number, at the tone, after the beep, voice mail, voice messaging system, can't take your call, not available to take your call, I'm unavailable, sorry I missed your call, mailbox\n- Uninitialized voicemail: \"the person you called has a voice mailbox that hasn't been set up yet\"\nNOTE: Speech-to-text mangles words. \"Automated\" may appear as \"Mated\" or \"tomated\". \"Powered by Google\" may appear as \"Polysis by Google\". Read for meaning, not exact words.\n\nCall Screening\nA service or person screening the call before connecting. Includes:\n- Google/iPhone call screening: \"recording this call\", \"I'll see if this person is available\", \"can I ask what you're calling about\"\n- Human screener: \"who is calling\", \"may I ask who is calling\", \"what is this regarding\"\n\nIVR\nA fully automated phone system with no human involved. Includes:\n- Business/school phone menus: \"press 1 for sales\", \"if you know your party's extension\", \"dial it at any time\"\n- Carrier intercepts reading back digits: \"seven three two is not available\" (the number itself being read aloud as a carrier message)\n- Disconnected/invalid numbers: \"the number you have dialed\", \"not in service\", \"this number has been disconnected\"\n\nNo Answer\nThe call was not answered. Includes:\n- Duration is 0 seconds\n- Empty or blank transcript\n- Call ended before anyone or anything responded\n- endedReason indicates the call never connected\n\nCONTEXT SIGNALS:\nendedReason: {{ $json.endedReason }}\nCall duration (seconds): {{ $json.duration }}\n\nTRANSCRIPT:\n{{ $json.transcriptText }}\n\nOUTPUT FORMAT:\nRespond with exactly this structure and nothing else:\nLast Classification: [classification]\n\nWhere [classification] is exactly one of:\nHuman Answered | Voicemail | Call Screening | IVR | No Answer",
        "hasOutputParser": true,
        "batching": {}
      },
      "id": "6efbed64-222a-4728-802b-81edcb3e9d1b",
      "name": "Basic LLM Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        592,
        864
      ]
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"classification\": \"Human Answered\"\n}"
      },
      "id": "374ee3dc-0850-437c-995a-93ac56d896ad",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        736,
        1056
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        592,
        1072
      ],
      "id": "0b83b70e-315e-4fd4-be87-162b14711b58",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ADBOpsreUXGHfz40",
          "name": "OpenAi account 8"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Read Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Config": {
      "main": [
        [
          {
            "node": "Extract Config Values",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Config Values": {
      "main": [
        [
          {
            "node": "Within Calling Hours?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Within Calling Hours?": {
      "main": [
        [
          {
            "node": "Read Numbers Sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read ManyMangos Pick",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Numbers Sheet": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Read ManyMangos Pick": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sync New Numbers": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split New Contacts": {
      "main": [
        [
          {
            "node": "Append to Numbers Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append to Numbers Sheet": {
      "main": [
        [
          {
            "node": "Merge Number Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Split New Contacts",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Number Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Sync New Numbers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Eligible Numbers": {
      "main": [
        [
          {
            "node": "Has Eligible Numbers?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Eligible Numbers?": {
      "main": [
        [
          {
            "node": "Prepare Individual Calls",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Number Data": {
      "main": [
        [
          {
            "node": "Filter Eligible Numbers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Numbers In Progress": {
      "main": [
        [
          {
            "node": "Update Numbers Sheet Status",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log to Call Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to Call Log": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Batch calling": {
      "main": [
        [
          {
            "node": "Mark Numbers In Progress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Poll Batch": {
      "main": [
        [
          {
            "node": "Poll Completed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format conversation details": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Wait 1 Min For call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append to Call Log": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Loop Over Calls",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Results to Numbers Sheet1": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Numbers Sheet Status": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Individual Calls": {
      "main": [
        [
          {
            "node": "Loop Over Calls",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Calls": {
      "main": [
        [],
        [
          {
            "node": "Batch calling",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Poll Completed?": {
      "main": [
        [
          {
            "node": "Format conversation details",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 10 More Seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 10 More Seconds": {
      "main": [
        [
          {
            "node": "Poll Batch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collapse to one1": {
      "main": [
        [
          {
            "node": "Poll Batch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Final Result": {
      "main": [
        [
          {
            "node": "Write Results to Numbers Sheet1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 1 Min For call": {
      "main": [
        [
          {
            "node": "Collapse to one1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Append to Call Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Build Final Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Schedule Trigger": [
      {
        "timestamp": "2026-05-26T11:00:00.003-04:00",
        "Readable date": "May 26th 2026, 11:00:00 am",
        "Readable time": "11:00:00 am",
        "Day of week": "Tuesday",
        "Year": "2026",
        "Month": "May",
        "Day of month": "26",
        "Hour": "11",
        "Minute": "00",
        "Second": "00",
        "Timezone": "America/New_York (UTC-04:00)"
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b7ff1e69201968833d88d7592a2d50b06ea8540a200afa0538e34cf1a57976ac"
  }
}